<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Experimental</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>bigText</string>
			<key>label</key>
			<string>Big Text</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>artistRecomendationsSource</string>
			<key>label</key>
			<string>Different Artist Recommendations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>participantsNowPlaying</string>
			<key>label</key>
			<string>Show Participants in Now Playing</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>nowPlayingSwipeDisabled</string>
			<key>label</key>
			<string>Disable Now Playing Swipe Down</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>timeRemainingDuration</string>
			<key>label</key>
			<string>Time Remaining Shows Duration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>albumRecommendations</string>
			<key>label</key>
			<string>Disable Album and Artists Recommendations</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>hideTabBar</string>
			<key>label</key>
			<string>Hide Tab Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>showBadges</string>
			<key>label</key>
			<string>Show Badges</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Not Tested</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>lockscreenVolume</string>
			<key>label</key>
			<string>Lockscreen Volume</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>remoteVolume</string>
			<key>label</key>
			<string>Remote Volume</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>remoteVolumePopup</string>
			<key>label</key>
			<string>Disable Remote Volume Popup</string>
		</dict>
	</array>
	<key>title</key>
	<string>Experimental</string>
</dict>
</plist>
