<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>connectDevices</string>
			<key>label</key>
			<string>Connect Access Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>bigConnectDevicesButton</string>
			<key>label</key>
			<string>Big Connect Access Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>ImportMusicRootListController</string>
			<key>icon</key>
			<string></string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Import Your Music</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>voiceSearchEnabled</string>
			<key>label</key>
			<string>Voice Search</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>newVoiceSearch</string>
			<key>label</key>
			<string>New Voice Search</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>oldVoiceSearch</string>
			<key>label</key>
			<string>Old Voice Search</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>floatingMic</string>
			<key>label</key>
			<string>Floating Mic Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>verifiedEnabled</string>
			<key>label</key>
			<string>Verified Profile Badge</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>nowPlayingBarImprovements</string>
			<key>label</key>
			<string>Old Now Playing Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>nowPlayingBarVoice</string>
			<key>label</key>
			<string>Now Playing Bar Voice Button</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>hideNowPlayingBarArt</string>
			<key>label</key>
			<string>Hide Now Playing Bar Album Art</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>a</string>
			<key>label</key>
			<string>No Burger Menu Icon on Lockscreen(x)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>followFeedOn</string>
			<key>label</key>
			<string>Follow Feed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>signInWithApple</string>
			<key>label</key>
			<string>Sign in with Apple</string>
		</dict>
	</array>
	<key>title</key>
	<string>General</string>
</dict>
</plist>
