<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Your Library</string>
			<key>footerText</key>
			<string></string>
			<key>isStaticText</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>a</string>
			<key>label</key>
			<string>Album Artwork in Liked Songs(x)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>a</string>
			<key>label</key>
			<string>Album Artwork in Playlists(x)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>newUI</string>
			<key>label</key>
			<string>New UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>freeTierUI</string>
			<key>label</key>
			<string>Free Tier UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>doublePlay</string>
			<key>label</key>
			<string>Double Play Button Action in Playlists</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>newPlaylistUI</string>
			<key>label</key>
			<string>New Create Playlists UI</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>canvasPlaylist</string>
			<key>label</key>
			<string>Open Canvas Playlist</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>tureShuffle</string>
			<key>label</key>
			<string>True Shuffle</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>quickScroll</string>
			<key>label</key>
			<string>Quick Scroll</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.keaton.spotifly</string>
			<key>key</key>
			<string>shuffleBadge</string>
			<key>label</key>
			<string>No Shuffle on Play Button</string>
		</dict>
	</array>
	<key>title</key>
	<string>Your Library</string>
</dict>
</plist>
